.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
    background-color: black;
}

.card-header, .card-body, .card-footer, #answerField, #btnRetry {
    background-color: #fde38d;
    font-weight: 700;
}

#btnRetry {
    text-decoration: none;
    color: black;
}

.btn-info {
    color: #fff;
    background-color: rgb(50, 160, 65);
    border-color: rgb(50, 160, 65);
}

.btn-info:hover {
    color: #fff;
    background-color: rgb(50, 160, 65);
    border-color: rgb(50, 160, 65);
}

.btn-info.focus, .btn-info:focus {
    color: #fff;
    background-color: rgb(50, 160, 65);
    border-color: rgb(50, 160, 65);
    box-shadow: 0 0 0 0.2rem rgba(200, 213, 29, 0.459);
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: rgb(17, 0, 255);
    border-color: rgb(17, 0, 255);
}